.Background {
    background: rgb(253, 253, 244);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
    height: 100vh;

  }
.MainDiv {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.GuideStatusDiv2 {
  padding-top: 15px;
  width: 100%;
  height: fit-content;
  background: rgb(253, 253, 244);
}
.GuideDiv {
  width: 50%;
  float: left;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;

}
.StatusDiv {
  width: 50%;
  float: right;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
}
.rightAlign {
  margin-left: auto;
  margin-right: 10%;
}
.leftAlign {
  margin-left: 10%;
  margin-right: auto;
}
  
  


