.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .modalButton {
    outline: none;
    cursor: pointer;
    border: 0;
  }
  .section {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
  }
  .header {
    position: relative;
    padding: 16px 64px 16px 16px;
    color: #FFD369;
    background-color: #f1f1f1;
    font-weight: 700;
    font-size: large;
  }
  .buttonClose {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
  }
  .main {
    padding: 16px;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 1px 6px 0px rgba(150, 122, 122, 0.12);
    
  }
  .footer {
    padding: 10px 10px;
    text-align: right;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 1px 6px 0px rgba(150, 122, 122, 0.12);
  }
  .footerButton {
    padding: 6px 12px;
    margin-left: 5px;
    color: #fff;
    background-color: #6c757d;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    font-size: 13px;
  }
  .openModal {
    position: absolute;
    top: 5%;
    left: 35%;
    width: 450px;
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 0.3s;
  }
  @keyframes modal-show {
    from {
      opacity: 0;
      margin-top: -50px;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
  }
  @keyframes modal-bg-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .detailInfo {
    display:flex;
    flex-direction: column;
    gap: 5px;
  }
  .detailInfo_title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 12pt;
    font-weight: bold;
    padding: 3px;
    gap: 10px;
  }
  .detailInfo_value {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-weight: normal;
    font-size: 12pt;
    color: black;
  }