@font-face {
  font-family: 'BalooBhai2';
  src: url("/public/fonts/BalooBhai2-VariableFont_wght.woff2") format('woff2'),
  url("/public/fonts/BalooBhai2-VariableFont_wght.woff") format('woff'),
  url("/public/fonts/BalooBhai2-VariableFont_wght.otf") format('truetype')
}
.Background {
  background-color:red;
}

.CardTitle {
  font-size: 20px;
  font-family: 'BalooBhai2';
  font-weight: bold;
  margin: 20px 0 0 5%;
}

.CardText {
  margin: 0px 0px 0px 5%;
  font-size: 13px;
  font-family: 'BalooBhai2';
}

.CardText2 {
  font-size: 25px;
  font-family: 'BalooBhai2';
  font-weight: bold;
  text-align: end;
  margin: 10px 5% 0 0;
}

.CardText3 {
  font-size: 20px;
  font-family: 'BalooBhai2';
  font-weight: bold;
  text-align: center;
  margin: 0 0 0 0;
}

.CardDiv {
  width: '12rem';
  height: '10rem';
  margin: 20px 20px 0px 0px;
  padding: 0px;
  border: 1px solid #C4C4C4;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 1px 6px 0px rgba(150, 122, 122, 0.12);
  background-color: #FFFFFF;
}
.TaxiCardTable {
  width: 100%;
}

.TaxiCardCarousel {
  list-style: none;
  width: 90%;
}

.TaxiCardLi {
  float: left;    
}

.boxComponent {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border: 1px solid #C4C4C4;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
}